apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: app
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: mcp-server
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: app
spec:
  source:
    type: Binary
    contextDir: app
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: app:latest
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: mcp-server
spec:
  source:
    type: Binary
    contextDir: mcp-server
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: mcp-server:latest
